@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Goldman:wght@700&family=Anton&display=swap');
/*Barra de rolagem*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
}
::webkit-scrollbar-thumb:hover{
    background-color: #555;
}

body{
    background-color: #17222e;
    width: 100%;
    height: auto;
}
/*Barra de navegação*/
#navegacao{
    /* display: inline-block;  */
    background-color: rgba(53, 74, 95,0.3);
    width: 100%;
}
#paginas{
    float: right;
    margin: 1% 2%;
}
#paginas li{
    padding-left: 10px;
    text-align: justify;
}
#logo{
    height: 4em;
}
nav ul li{
    font-family: 'Goldman', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    /* display: inline-block; */
    text-shadow: 2px 2px 2px #000;
}

/*Mudança no tamanho do container*/
.container{
    width: 100%;
    margin: auto;
}

/*Trecho do rodapé*/
#rodape{
    border-top: 3px solid #fff;
    display: block;
    align-self: center;
    color: #fff;
    background-color: rgba(30, 43, 56, 0.9);
    width: 99%;
    padding: 1%;
    height: 12vh;
}
/*Formatação de links*/

#link-nav{
    color: rgba(150, 150, 150, 0.774);
    text-decoration: none;
    transition: 300ms;
    text-shadow: 2px 2px 2px #000;
}
#link-nav:hover{
    color: #fff;
}
@media(orientation: landscape){
        /*Barra de navegação*/
    #navegacao{
        display: block;
        background-color: rgba(53, 74, 95,0.3);
        width: 100%;
        height: 15vh;
    }
    #paginas{
        margin: 1% 2%;
    }
    #paginas li{
        padding-right: 2vh 0.5vw;
        text-align: justify;
    }
    #logo{
        height: 13vh;
    }
    nav ul li{
        font-family: 'Goldman', cursive;
        font-weight: bold;
        font-size: 2.2vw;
        color: #fff;
        display: inline-block;
        text-shadow: 2px 2px 2px #000;
    }

}
@media(orientation:portrait) {
    #navegacao{
        width: 100%;
        height: 15vh;
    }
    #paginas{
        float: right;
        margin: 1% 2%;
    }
    #paginas li{
        padding-left: 10px;
        text-align: justify;
    }
    #logo{
        height: 9vh;
        width: 30vw;
    }
    nav ul li{
        font-size: 3vh;
        color: #fff;
    }
}